<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @zombie.username %>
</p>

<p>
  <b>Age:</b>
  <%= @zombie.age %>
</p>

<p>
  <b>Bio:</b>
  <%= @zombie.bio %>
</p>

<p>
  <b>Email:</b>
  <%= @zombie.email %>
</p>

<p>
  <b>Rotting:</b>
  <%= @zombie.rotting %>
</p>


<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
